:root{
    /* Color */
    --color-theme:rgb(252,92,101) ;
    --color-white:rgb(255,255,255);
    --color-background:#1F232C;
    --background-darken: rgba(0, 0 ,0, 0.7);
    --button-text-color:#1F232C;
    --input-background:#FFFFFF1C;
    /* Font-Family */
    --avenir-light: "Avenir light";
    --montserrat-sans-serif:"montserrat";

}

.home{
    height: 100vh;
    width: 100%;

}

.home .header{
    height: 79px;
    width: 100%;
    background-color: var(--color-background);
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .header .title-container{
    height: 100%;
    width: 297px;
    padding: 0px 10px;
    cursor: pointer;
    /* layout */
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.home .header .title-container span{
    color: var(--color-white);
    font-family: var(--avenir-light);
    font-size: 24px;
}

.home .header .menu-container{
    height: 100%;
    width: 535px;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;   
}

.home .header .menu-container li a{
    color: var(--color-white);
    font-family: var(--avenir-light);
    transition: all 500ms ease;
}

.home .header .menu-container li a:hover{
    color: var(--color-theme);
    cursor: pointer;
}

.home .header .menu-container li .color-home{
    color: var(--color-theme);
}

.home .header .title-container .hamburger-container >div{
    display: none;
    height: 2px;
    width: 30px;
    margin: 6px 0px;
    background-color: var(--color-white);
    transition: all 300ms ease;
}

.home .header .title-container .hamburger-container div:nth-child(1){
    width: 15px;
}

.home .header .title-container .hamburger-container div:nth-child(3){
    width: 20px;
}



.home .header .title-container .hamburger-container.close .bar:nth-child(1){
    width: 30px;
    transform: translate(0, 11px) rotate(-45deg);
    transition: all 300ms ease;
    background-color: var(--color-theme);
    z-index: 1000;
}

.home .header .title-container .hamburger-container.close .bar:nth-child(2){
   opacity: 0;
}

.home .header .title-container .hamburger-container.close .bar:nth-child(3){
    width: 30px;
    transform: translate(0, -5px) rotate(45deg);
    transition: all 300ms ease;
    background-color: var(--color-theme);
    z-index: 1000;
}

.home .header .social-media-container{
    height: 100%;
    width: 357px;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;
}


.home .header .social-media-container .search-bar{
    height: 41px;
    width: 174px;
    background: var(--input-background);
    padding: 0px 15px;
    /* layout */
    display:flex;
    column-gap: 10px;
}

.home .header .social-media-container .search-bar:hover{
    background: none;
    border-bottom: 2px solid var(--color-white);
}

.home .header .social-media-container .search-bar .search-icon{
    /* layout */
    display: flex;
    align-items: center;
}

.home .header .social-media-container .search-bar .search-icon svg{
    height: 15px;
    width: 15px;
    color: var(--color-white);
}

.home .header .social-media-container .search-bar input{
    height: 41px;
    width: 94px;
    padding: 8px 0px;
    border: none;
    outline: none;
    background: none;
}

.home .header .social-media-container .search-bar input::placeholder{
    color: var(--color-white);
    font-family: var(--avenir-light);
    font-size: 16px;
}

.home .header .social-media-container .search-bar input:focus{
    color: var(--color-white);
    font-family: var(--avenir-light);
    font-size: 16px;
}

.home .header .social-media-container .logos{
    height: 22px;
    width: 82px;
    cursor: pointer;
    /* layout */
    display: flex;
    justify-content: space-between;

}

.home .home-content{
height: 927px;
width: 100%;
background: url('../assets/img-home/home-traffic-drivers.webp');
background-color: var(--background-darken);
background-repeat: no-repeat;
background-blend-mode: darken;
position: relative;
opacity: 0.9;
z-index: 1;
}

.home .home-content h1{
    height: 174px;
    width: 789px;
    color: var(--color-white);
    font-family: var(--montserrat-sans-serif);
    font-size: 71px;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: 185px;
}

.home .home-content h1 .color-text{
      color: var(--color-theme);
}

.home .home-content p{
    height: 174px;
    width: 789px;
    color: var(--color-white);
    font-family: var(--montserrat-sans-serif);
    font-size: 24px;
    position: absolute;
    top: 340px;
    left: 185px;
}

.home .home-content form{
    height: 105px;
    width: 497px;
    position: absolute;
    top: 400px;
    left: 185px;
    z-index: 10;
    /*layout */
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.home .home-content form input{
    height: 48px;
    width: 313px;
    background: var(--input-background);
    border: none;
    padding: 3px 3px 3px 24px;
    outline: none;
}

.home .home-content form input::placeholder{
    color: var(--color-white);
    font-family: var(--avenir-light);
    font-size: 16px;
}

.home .home-content form input:focus{
    color: var(--color-white);
    font-family: var(--avenir-light);
    font-size: 16px;
}

.home .home-content form button{
    height: 47px;
    width: 133px;
    background: var(--color-theme);
    border-radius: 30px;
    border: none;
    color: var(--button-text-color);
    font-family: var(--avenir-light);
    font-size: 16px;
    font-weight: bold;
    transition: all 500ms ease;
}

.home .home-content form button:hover{
    background: none;
    box-shadow: 0px 0px 0px 2px;
    color: var(--color-white);
    cursor: pointer;
}

.home .footer{
height: 94px;
width: 100%;
background-color: var(--color-background);
padding: 0px 80px;
/* layout */
display: flex;
align-items: center;
}

.home .footer p{
    color: var(--color-white);
    font-family: var(--avenir-light);
    font-size: 15px;
}

/* Media Queries */

@media (max-width:360px){


    .home{
        height: 100%;
        width: 100%;
    
    }
    .home .header {
        height: 119px;
        width: 100%;
        padding: 10px 20px;
        flex-direction: column;
    }


    .home .header .title-container {
        width: 320px;
    }

    .home .header .title-container span{
        font-size: 20px;
    }
 
    .home .header .title-container .hamburger-container{
        margin-left: 119px;
     }
     
 .home .header .title-container .hamburger-container >div{
     display: block;
     position: relative;
     z-index: 100;
 }

    .home .header .menu-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        row-gap: 35px;
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 100;
        background: var(--color-background);
        transform: scale(1,0);
        transform-origin: top;
    }

    .home .header .menu-container.show{
        transform: scale(1,1);
        transition: all 400ms ease;
    }


    .home .header .social-media-container .logos {
        height: 27px;
        width: 111px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
        position: fixed;
        top: 490px;
        left: 120px;
        z-index: 100;
        transform: scale(1,0);
        transform-origin: top;
    }

    .home .header .menu-container li .color-home {
        font-size: 20px;
    }

    .home .header .menu-container li a {
        font-size: 20px;
    }

    .home .header .menu-container li .color-home:hover{
        color: var(--color-theme);
    }
 
    .home .header .menu-container li a:hover{
        color: var(--color-white);
    }

    .home .header .social-media-container .logos.show-icon{
        transform: scale(1,1);
        transition: all 800ms ease;
    }

    .home .header .social-media-container .logos.show-icon li img{
        height: 27px;
        width: 27px;
    }

    .home .header .social-media-container {
        height: 41px;
        width: 280px;
        justify-content: center;
    }

    .home .header .social-media-container .search-bar {
        height: 41px;
        width: 303px;
    }

    .home .home-content {
        height: 523px;
        background-size: cover;
    }


    .home .home-content h1 {
        height: 111px;
        width: 280px;
        color: var(--color-white);
        font-family: var(--montserrat-sans-serif);
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        top: 50px;
        left: 30px;
    }


    .home .home-content form {
        height: 110px;
        width: 290px;
        position: absolute;
        top: 250px;
        left: 20px;
        z-index: 10;
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    .home .home-content p {
        height: 40px;
        width: 264px;
        color: var(--color-white);
        font-family: var(--montserrat-sans-serif);
        font-size: 16px;
        position: absolute;
        top: 170px;
        left: 30px;
    }

    .home .home-content form input {
        height: 37px;
        width: 172px;
        background: var(--input-background);
        border: none;
        padding: 3px 3px 3px 24px;
        outline: none;
    }

    .home .home-content form button {
        height: 41px;
        width: 96px;
        background: var(--color-theme);
        border-radius: 30px;
        border: none;
        color: var(--button-text-color);
        font-family: var(--avenir-light);
        font-size: 14px;
        font-weight: bold;
    }
    
    .home .home-content form button:hover{
        background: var(--color-theme);
        color: var(--button-text-color);
        box-shadow: unset;
    }

    .home .footer{
        height: 70px;
        padding: 0px 70px;
    }

    .home .footer p{
        font-size: 14px;
        text-align: center;
    }



}